html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  #camera, #camera--view, #camera--sensor, #camera--output{
      position: fixed;
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  
  #camera--view, #camera--sensor, #camera--output{
      transform: scaleX(-1);
      filter: FlipH;
  }

  #camera--zoom{
      width: 200px;
      position: fixed;
      bottom: 100px;
      left: calc(50% - 100px);
  }

  #camera--sensor{
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
  }
  .camera--trigger__button{
    position: fixed;
    bottom: 30px;
    left: calc(50% - 45px);
    padding: 35px 35px;
    background-color:rgba(192,192,192,0.0);
    border: 5px solid white; 
    border-radius: 100%;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  }
  #camera--trigger:focus{
    outline:none;
}
    #camera--trigger:active{
        padding: 40px 40px;
        left: calc(50% - 50px);
    }

    .camera--trigger__clicked{
    visibility: hidden;
    transition: visibility 0.1s, opacity 0.5s linear;
    }